@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/**********************************************
                Global styles
**********************************************/
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
	--primary-color: #000;
	--secondary-color: #fff;
	--background-color: #ddd;
  --footer-color: #bebee2; /*Chuck noris favorite color*/
  --gradient-color: #a8a8df; /*For gradient line on footer*/
}

body {
  font-family: 'Poppins', sans-serif;
  user-select: none;
  padding-bottom: 60px;
  min-height: 100%
}

/**********************************************
                    Layout
**********************************************/

/* Main Header */

header {
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 20px;
}

header> img{
   width: 60px;
   height: 60px;
}

header h1 {
  font-size: 1rem;
}
/* Main Header END */


/* Section */
main {
  margin-top: 20px;
}

section> h4{
  text-align: center;
}

.categories {
  margin: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  border: 4px solid var(--primary-color);
  border-radius: 5px;  
}

.catBtn {    
  border: none;
  padding: 2px 8px;  
  table-layout: fixed;
  text-decoration: none;  
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4%;  
  border-collapse: separate;
}

.catBtn:hover
{    
   box-shadow: 3px 3px var(--primary-color); 
}

.search {
 margin-top: 20px;
 display:flex;
 justify-content: center;
 align-items: center;
}

.search > 
input,
.btn {
  margin-right: 5px;
}

.search> input{
  width: 90%;
  height: 2rem;
  background:  var(--background-color);
  outline: none; /*var(--primary-color)*/
  border: none;  /* border-color: var(--primary-color);  */ 
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1.4rem;
}

#searchBtn {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;  
}

#searchBtn:hover {
  cursor: pointer;
}
/* Section END */

/* JokesDisplay */
.jokeDisplay {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.jokeDisplay > label {
  font-size: 20px;  
}

textarea {
  display: flex;
  width: 90%;
  min-height: 200px;
  font-size: 20px; 
  text-align: center;
}

/* Scrollbar for textarea */
::-webkit-scrollbar {
   width: 0.7em;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--footer-color);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
 background: var(--primary-color);
}
/* Scrollbar for textarea END*/
/* JokesDisplay END*/


/* Main Footer */
#myFooter {
 position:absolute;
 bottom:0;
 width:100%;
 height:60px;
 margin-top: 20px;
 padding: 10px 0;
 background: var(--primary-color);
 display: flex;
 align-items: center;
 justify-content: center;
 color: white;
 font-size: 1rem;
 font-style: italic; 
 text-align: center;
}

.link {
  color: var(--footer-color);
  background-color: transparent;
  text-decoration: none;

/* Code for linear gradient line */
  background-image: linear-gradient(90deg, var(--footer-color), var(--gradient-color));
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;  
  transition: 300ms ease;  
}

.link:hover {
  background-size: 100% 3px;
}
/* Main Footer END*/

/*********************************************
               @media Queries
*********************************************/

@media all and (min-width: 768px) {
  header {
  padding-top: 50px;
  }
  header> img{
   width: 75px;
   height: 75px;
  }
  header h1 {
  font-size: 1.5rem;
  }
  main {
  margin-top: 50px;
  }
  .categories {
  margin: 5px;
  }
  .catBtn {    
  padding: 5px 12px; 
  font-size: 18px;
  }
  .search {
  margin-top: 50px;
  }
  .search> input{
  height: 2.8rem;
  font-size: 1.5rem;
  }
  .jokeDisplay {
  margin-top: 50px;
  }
  .jokeDisplay > label {
  font-size: 25px;  
  }
  textarea {
  min-height: 300px;
  font-size: 25px;
  }
  #myFooter {
    font-size: 1.3rem;
  }
}

@media all and (min-width: 1200px) {
  header> img{
   width: 90px;
   height: 90px;
  }
  header h1 {
  font-size: 2rem;
  }
  .categories {
    width: 90%;
    margin: auto;
  }
  .catBtn {    
  padding: 10px 30px; 
  font-size: 20px;
  }
}
